* {
  margin: 0px;
  padding: 0px;
}

body {

}


/* #drum-container {
  display: inline-block;
}

/* .selector {
  display: block;
} */
/* #drums {
  display: inline-block;
}

#selectors {
  display: inline-block;
} */
