* {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: #262F39;
}

h4 {
    font-weight: 300;
    letter-spacing: .08em;
}

.fa-play {
    margin-top: -.34em;
    color: #6a7786;
}

.fa-pause {
    margin-top: -.34em;
    color: white;
}

div {
    color: white;
    text-color: white;
    font-color: white;
}

body {

}

.drums {
display: flex;
flex-direction: column;
align-items: flex-start;

}

.presets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.label {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start; */

}

.drum-matrix{
margin-left: 100px;
/* background-color: red; */
}

#cym-channel div {
    color: white;
}

#drum-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

#cym-channel-clear {
}

.label {
    margin: 0 .75em;
}

.smButton div {
    margin: 0 .1em;
}

.button-row {
    margin: 1px 0;
}

#drums {
    margin-left: 70px;
}

#drums div span svg {
    border-radius: 10px;
}

#drum-selector {
    margin-right: 60px;
}

#tempo {
    margin-right: 170px;
}

#tempoSlider {
    margin-right: 1em;
    margin-top: .5em;
}

#tempoNumber {
    height: 40px;
    color: white;
}

#tempoNumber input {
    border-radius: 10px;
}

.wrapper {
    margin-top: 3em;
}

#play {
    margin-right: .5em;
    height: 40px;
    align-items: center;
}

#stop {
    height: 40px;
    color: white;
}

#transport {
    margin: 0 auto .75em;
}

.microphone-icon {
    margin-top: -20em;
}

.white-text {
    color: white;
    font-size: 4.5em;
    margin-top: -.6em;
}

#drum-selector select {
    color: white !important;
}

#tempoNumber input {
    color: white !important;
    font-size: 1em !important;
    height: 35px !important;
}

#play {
    width: 100px !important;
}

#play div {
    border-radius: 10px;
}

.bb-title {
    color: white;
    margin: 1em 0 0 .6em;
}

.header {
    padding-bottom: 1.8em;
    padding-top: 1px;
    background-color: #364250;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cym-label div,
#perc1-label div,
#perc2-label div,
#tom1-label div,
#tom2-label div,
#hh-label div,
#snare-label div,
#kick-label div, 
#cym-channel div, 
#cym-channel-clear div, 
#perc1-channel div, 
#perc1-channel-clear div, 
#perc2-channel div, 
#perc2-channel-clear div, 
#tom1-channel div, 
#tom1-channel-clear div, 
#tom2-channel div, 
#tom2-channel-clear div, 
#hh-channel div, 
#hh-channel-clear div, 
#snare-channel div, 
#snare-channel-clear div, 
#kick-channel div,
#kick-channel-clear div {
    border-radius: 8px;
}

.bb-icon {
    height: 28px;
    width: 28px;
    margin: 1.4em 0 0 1.5em;
}
