.grid-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-top: -8px;
    box-sizing: border-box;
    border-bottom: 1px solid #888;
}

.grid-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top: 1px solid #888;
    font-size: 0.3em;
}
.white-row {
    background-color: #ccc;

}

.black-row {
    background-color: #aaa;
}

.grid-column {
    box-sizing: border-box;
    border-right: 1px solid #888;
    width: 100%;
    height: 100%;
}


.draggable {
    background-color: #900;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#piano {
    margin-top: 10px;
    margin-bottom: -6px;
}

.synth-view {
    width: 523px;
    height: 600px;
    margin: 0 auto;
}

#noteLengths {
    width: 450px;
    margin: 0 auto;
}

#piRollGrid {
    margin-top: -10px !important;
}

#noteLengths div {
    color: white !important;
}

#pianoClear {
    margin: 0 auto;
    margin-top: -118px;
}

#pianoClear div div {
    color: white !important;
    padding-bottom: 2.25em !important;
}

.synth-background {
    width: 864px;
    margin: 0 auto;
    background-color: #4E5B6A;
    padding: 1em 0;
}
